attrs
certifi
cffi
charset-normalizer
contourpy
cycler
fonttools
h11
idna
imageio
isodate
joblib
kiwisolver
lazy_loader
lxml
matplotlib
networkx
numpy
opencv-python
outcome
packaging
pandas
pillow
PyAudio
pycountry
pycparser
pycryptodome
pydub
pyparsing
PySocks
python-dateutil
pytz
requests
scikit-image
scikit-learn
scipy
six
sniffio
sortedcontainers
sounddevice
streamlink
threadpoolctl
tifffile
trio
trio-websocket
twitchrealtimehandler
typing_extensions
tzdata
urllib3
websocket-client
wsproto
opencv-python